{% extends "base.html"%}

{% block app_content %}
<a class="btn btn-default" href="{{ url_for('jogos.create') }}">Adicionar Novo Jogo</a>
<br>
<br>
{% for rodada in jogos %}
<h1 class="center"> Rodada {{ rodada }} </h1>
<div class="container">
	<ul class="list-unstyled row">
	{% for jogo in jogos[rodada] %}
	<a href="{{ url_for('jogos.update', id=jogo.id)}}">
	 	<li class="list-group-item col-md-4 text-center">
			
				 <img class="escudo-mini" src="{{jogo.mandante.escudo}}">
				   {{ jogo.mandante.nome }}
				   {{ jogo.gols_mandante }} x  
				   {{ jogo.gols_visitante }} 
				   {{ jogo.visitante.nome }}
				<img class="escudo-mini" src="{{jogo.visitante.escudo}}">
					
		</li>
	</a>
	{% endfor %}
	</ul>
</div>
{% endfor %}
{% endblock %} 