{% extends "base.html"%}

{% block app_content %}
<a type="button" class="btn btn-success" href="{{ url_for('jogos.create') }}">Adicionar Novo Jogo</a>
<br>
<br>
<div class="container row mx-md-n5">
  {% for rodada in jogos %}
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Rodada {{ rodada }}
    </li>
    {% for jogo in jogos[rodada] %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ jogo.mandante.nome }}
      <img class="escudo-mini" src="{{jogo.mandante.escudo}}">
      {{ jogo.gols_mandante }} x
      {{ jogo.gols_visitante }}
      <img class="escudo-mini" src="{{jogo.visitante.escudo}}">
      {{ jogo.visitante.nome }}
      <a class="btn btn-success badge" href="{{ url_for('jogos.delete', id=jogo.id)}}">
        deletar
      </a>
      <a class="btn btn-success badge" href="{{ url_for('jogos.update', id=jogo.id)}}">
        editar
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock %}